body {
    font-family: monospace, 'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    margin: 100px;
    cursor: pointer;
    background-image: url(../img/onibus-amor-doce.png);
}

h1{
    font-size: 30px;  
    color: pink;
    background-color: #f55083;
    width: 50%;
}

h1:hover{
    width: 25%;
    transition: width 2s;
}

img{
    width: 200px;
}

p{
    color: #f55083;
    background-color: white;
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-weight: bold;
    width: 20%;
}

a{
    color: white;
    background-color: #f55083;
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-weight: bold;
}

a:hover{
    color: pink;
}

