body{
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    background-color: darkred;
    margin: 100px;
    cursor: pointer;

}

h1{
    font-size: 30px;  
    color: pink;
    background-color: palevioletred;
    width: 50%;
    color: rgb(175, 15, 15);
}

h1:hover{
    width: 25%;
    transition: width 2s;

}

img{
    width: 200px;
}

a{
    color: palevioletred;
    font-weight: bold;
}

a:hover{
    color: pink;
    text-decoration: underline;

}