body{
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    background-color: darkblue;
    margin: 100px;
    cursor: pointer;

}

h1{
    font-size: 30px;  
    color: blue;
    background-color: paleturquoise;
    width: 50%;
    color: darkblue;
}

h1:hover{
    width: 25%;
    transition: width 2s;

}

img{
    width: 200px;
}

a{
    color: paleturquoise;
    font-weight: bold;
}

a:hover{
    color: blue;
    text-decoration: underline;

}

button{
    background-color: white;
    color: paleturquoise;
    border-radius: 10px; 
}

p.cor-armin{
    color: darkblue;
    background-color: white;
    font-weight: bold;
    width: auto;
    padding: 10px;
    border-radius: 10px; 
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.conteudo{
    display: flex;
    flex-direction: column;
}
