body {
    font-family: monospace, 'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    margin: 100px;
    cursor: pointer;
    background-image: url(../img/parque.jpg);
}

h1 {
    font-size: 30px;  
    color: pink;
    background-color: #f55083;
    width: 50%;
}

h1:hover{
    width: 25%;
    transition: width 2s;

}

img{
    width: 200px;
}

a{
    color: white;
    background-color: #f55083;
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-weight: bold;
}

a:hover{
    color: pink;
    text-decoration: underline;

}

table {
    color: black;
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
    width: 700px;
}
 
thead {
    background-color: palevioletred;
}
 
th, td {
    border: 1px solid black;
}
 
caption, th, td {
    padding: 10px;
}
 
tbody tr:hover{
    background-color:rgb(255, 114, 185);
}

tbody{
    background-color:#EBE8ED
}
