body{
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    background-color: darkred;
    margin: 100px;
    cursor: pointer;

}

h1{
    font-size: 30px;  
    color: pink;
    background-color: palevioletred;
    width: 50%;
    color: rgb(175, 15, 15);
}

h1:hover{
    width: 25%;
    transition: width 2s;

}

img{
    width: 200px;
}

a{
    color: palevioletred;
    font-weight: bold;
}

a:hover{
    color: pink;
    text-decoration: underline;

}

table {
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
    width: 700px;
}
 
thead {
    background-color: palevioletred;
}
 
th, td {
    border: 1px solid black;
}
 
caption, th, td {
    padding: 10px;
}
 
tbody tr:hover{
    background-color: #EBE8ED;
}

tbody{
    background-color: rgb(255, 181, 222);
}
