body {
    font-family: monospace, 'Roboto Mono', 'Segoe UI';
    font-size: 18px;
    margin: 100px;
    cursor: pointer;
    background-image: url(../img/cafe-amor-doce.jpg);
}

h2{
    font-size: 30px;
    color: pink;
    background-color: #f55083;
    width: 50%;
}

h2:hover{
    width: 25%;
    transition: width 2s;

}

img{
    width: 200px;
}

a{
    color: white;
    background-color: #f55083;
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    font-weight: bold;
}

a:hover{
    color: pink;
    text-decoration: underline;

}

p{
    font-family: monospace,'Roboto Mono', 'Segoe UI';
    color: palevioletred;
    font-weight: bold;
}
