<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Paqueras</title>
    <link rel="stylesheet" th:href="@{css/formpaquera.css}">
</head>
<body>
    <h1>Cadastro de Paqueras</h1>
    <form action="#" th:action="@{/Paquera}" method=post th:object="${Paquera}">
        <a th:href="@{/}">Cancelar</a>
        <p>
            Nome: <input type="text" th:field="*{nome}" required><br>
            Idade: <input type="text" th:field="*{idade}" required><br>
            Signo: <input type="text" th:field="*{signo}" required><br>
            Gosta de: <input type="text" th:field="*{gostaDe}" required><br>
            Não gosta de: <input type="text" th:field="*{naoGostaDe}" required><br>
            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar">
        </p>
        </form>
</body>
</html>
