<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Paqueras</title>
    <link rel="stylesheet" th:href="@{css/formpaquera.css}">
</head>
<body>
    <h1>Cadastro de Paqueras</h1>
    <form action="#" th:action="@{/Paquera}" method=post th:object="${Paquera}">
        <p>
            Nome: <input type="text" th:field="*{nome}"><br>
            Idade: <input type="text" th:field="*{idade}"><br>
            Signo: <input type="text" th:field="*{signo}"><br>
            Gosta de: <input type="text" th:field="*{gostaDe}"><br>
            Não gosta de: <input type="text" th:field="*{naoGostaDe}"><br>
            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar">
            <p> <a th:href="@{/index}">Início</a> </p>
        </p>
        </form>
</body>
</html>
