<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Amor Doce Paqueras</title>
    <link rel="stylesheet" th:href="@{css/p1.css}">
    <script th:src="@{js/index.js}"></script>
</head>
<body>
    <h1>Lysandre</h1>
    <p> <a th:href="@{/}">Castiel page</a> | <a th:href="@{/p1}">Lysandre page</a> | <a th:href="@{/p2}">Armin page</a> | <a th:href="@{/formpaquera}">Cadastrar Paquera</a> 
    | <a th:href="@{/paqueras}">Paqueras Cadastrados </a> </p>   
<div class="container">
    <img th:src="@{img/lysandre.png}" alt="Lysandre lindo">
    <div class="conteudo">
    <p class="cor-lys">Lysandre é um pouco enigmático e não fala muito, o que complica um pouco na hora de conversar com ele. Amigo do Castiel, ele escreve as músicas da banda de rock deles.<br><br>
    Gosta: Moda e Era Vitoriana<br>
    Não gosta: Pessoas que julgam à primeira vista<br>
    Aniversário: 22/11</p>
    </div>
</div>
     <button onclick="oi()">Olá</button>
</body>
</html>
