<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Amor Doce Paqueras</title>
    <link rel="stylesheet" th:href="@{css/p2.css}">
    <script th:src="@{js/index.js}"></script>
</head>
<body>
    <h1>Armin</h1>
    <p> <a th:href="@{/}">Castiel page</a> | <a th:href="@{/p1}">Lysandre page</a> | <a th:href="@{/p2}">Armin page</a> |  <a th:href="@{/formpaquera}">Cadastrar Paquera</a> | <a th:href="@{/paqueras}">Paqueras Cadastrados </a>
    | <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sair</a></span>
    <span sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Entrar</a> / <a th:href="@{/cadastro}">Cadastrar-se</a></span> </p>
<div class="container">
    <img th:src="@{img/armin.jpg}" alt="Armin">
    <div class="conteudo">
    <p class="cor-armin">Armin é o irmão gêmeo do Alexy. Ele é um garoto simpático, porém mais discreto do que o irmão. Ele raramente fica nervoso, exceto com alguns temas.<br><br>
    Gosta: Vídeo game, salgadinho, ficar na internet<br>
    Não gosta: Ir ao shopping com o irmão, conexão internet instável, legumes verdes<br><br>
    Aniversário: 07/06</p>
    </div>
</div>
    <button onclick="oie()">Oie</button>
</body>
</html>
