<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Paqueras</title>
    <link rel="stylesheet" th:href="@{css/paqueras.css}">
    <script th:src="@{js/index.js}"></script>
</head>
<body>
    <h1>Paqueras Cadastrados</h1>
    <p> <a th:href="@{/}">Castiel page</a> | <a th:href="@{/p1}">Lysandre page</a> | <a th:href="@{/p2}">Armin page</a> | <a th:href="@{/formpaquera}">Cadastrar Paquera</a> 
    | <a th:href="@{/paqueras}">Paqueras Cadastrados </a> </p>
    <table th:if="${not #lists.isEmpty(paqueras)}">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Signo</th>
                <th>Gosta de</th>
                <th>Não gosta de</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${paqueras}">
                <td><img th:if="${p.foto != null and !p.foto.isEmpty()}" th:src="${p.foto}" alt="Foto"></td>
                <img th:if="${p.foto == null or p.foto.isEmpty()}" src="https://via.placeholder.com/100" alt="Sem foto">
                <td th:text="${p.nome}">Nome</td>
                <td th:text="${p.idade}">Idade</td>
                <td th:text="${p.signo}">Signo</td>
                <td th:text="${p.gostaDe}">Gosta de</td>
                <td th:text="${p.naoGostaDe}">Não gosta de</td>
                <form th:action="@{/deletar/{id}(id=${p.id})}" method="post">
                <td><button type="submit" class="btn-deletar">🗑️ Deletar</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
